body{
    background: linear-gradient(to right);
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-size: 2em;
    text-align: center;
}